<div class="container">

    <div class="registro">
      <div class="registro-triangle"></div>
      
      <h2 class="registro-header">Bebidas</h2>
    
      <form class="registro-container" method="POST">
        <p>
          <input class ="cajitas" type="text" [(ngModel)]="bebidas.nombre" 
                            name='nombre' placeholder="Nombre" required="required"></p>
        <p>
            <input class ="cajitas" type="text" [(ngModel)]="bebidas.precio" 
                            name='precio' placeholder="Precio" required="required"></p>
        <p>
          <input type="submit" (click)="edit ? editar() : registrar()" value="Guardar">
          <input type="button" onclick="location.href='/admin'" value="Cancelar"> </p>
      </form>
    </div>
  
  
  </div>

